body {
  background-color: rgba(115, 205, 151, 0.21);
}

.name {
  color: #050152;
  font-weight: bold;
  font-size: 14;
}

.message {
  font-weight: 600;
  font-size: 13px;
}

.time-message {
  font-weight: 100;
  font-size: 10px;
}

.middle-tile {
  padding-right: 0;
}

.person {
  padding: 10px 10px;
}

.navigation {
  width: 100vw;
  height: 10%;
  background-color: white;
  border-top-left-radius: 14.4px;
  border-top-right-radius: 14.4px;
  position: fixed;
  bottom: 0;
}

.nav-item {
  text-align: center;
}

.nav-txt {
  font-weight: 400;
  font-size: 11px;
}

.off {
  color: #d8d8d8;
}

.on {
  color: #020058;
}

.msg-img {
  text-align: end;
}

.search-bar {
  border: none;
  width: 100%;
  height: 8vh;
  border-radius: 100px;
  text-align: center;
  outline: none;
  color: #b9a941;
  box-shadow: 0 0 20px #bbb;
}

.search-img {
  position: absolute;
  height: 65px;
  width: 80px;
  padding: 10px 10px;
  margin-left: 15px;
}

.search-bar::placeholder {
  color: #b9a941;
}

.top-header {
  font-size: 18px;
  font-weight: 400;
}

.info-btn {
  display: inline;
  background-color: rgba(51, 148, 61, 0.55);
  border: none;
  color: white;
  padding: 15px 10px;
  margin: 0 3px;
}

.accepted-info {
  border-radius: 8.14px;
}

.camera-info {
  border-radius: 15px;
}

.p2 {
  text-align: end;
  background-color: #e4f4ff;
  padding: 10px 20px;
  border-top-left-radius: 20px;
}

.p1 {
  background-color: white;
  padding: 10px 20px;
  border-top-right-radius: 20px;
}

.right {
  text-align: end;
}

.messages div {
  font-weight: 100;
  margin: 30px 0;
}

.messages span {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.time {
  color: #aeb3c2;
  font-size: 12px;
}

.btm-search {
  border: none;
  width: 100%;
  height: 8vh;
  border-radius: 100px;
  outline: none;
  font-weight: 400;
  color: #b9a941;
}

.btm-search::placeholder {
  color: #b9a941;
  padding: 10px;
}

.bottom {
  position: relative;
  bottom: 20px;
}

.send-img {
  width: 75px;
  height: 60px;
  position: relative;
  top: -62px;
  left: 300px;
}
